    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video #header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    height: 100%;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

    html{
    position: relative;
	min-height: 100%;
	}
	#wrap{
		min-height: 100%

	}
/*----- End of Reset ------*/
body{
	width:100%;
	background-color:#EEE;
	margin: 0 auto;
}
#wrap{
	min-height: 100%;
	width:960px;
	margin: 0 auto;
}
#home{
	background-image: url("../img/props_logo.png");
	background-repeat: no-repeat;
	display:block;
	width: 330px;
	height: 185px;
	padding-top: 20px;
	margin-bottom: 40px;
}
#studentLogin{
	background-image: url("../img/login.png");
	background-repeat: no-repeat;
	width: 310px;
	height:213px;
	opacity: .9;
	border-radius: 3px;
	float:right;
	margin-top: -13px;
	margin-bottom: 160px;
}
fieldset{
	width: 230px;
	margin: 0 auto;
	padding-top: 20px;	
}
input[type=text]{
	width:224px;
	height: 20px;
	border-radius: 3px;
}
label[for=Email]{
	padding-top: 10px;
	font-size: 14px;
}
label{
	font-family:"Myriad Pro", Times, sans-serif; 
    color:#FFF;
    font-size: 14px;
}
p{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 14px;
	line-height: 32px;
	color:#454548;
}
h1{
	padding-bottom: 10px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 16px;
	font-weight: bold;
	color:#454548;
}
section{
	width: 570px;	
}
h2{
	float: right;
	position: relative;
	right: 180px;
	top: 4px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 16px;
	color:#FFF;
	z-index: 1;
}
#welcome{
	float: left;
	width: 340px;
	margin-left:56px;

}
#welcome h1{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 16px;
}
#welcome p{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 14px;
	line-height: 32px;
	width: 310px;
}

ul li{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 14px;
	color:#454548;
	list-style:circle;
	margin-bottom:20px;
}
ul{
	margin-left: 20px;	
	margin-top: 26px;
}
#submitProp{
	position: relative;
	left: 229px;
	bottom: 45px;
	font: 12px Myriad Pro;
    text-decoration: none;
    background-color: #D59C00;
	color:#FFF;
	border: 1px solid black;
    padding: 6px 6px 6px 6px;
	border-radius: 3px;
}
#logout{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 12px;
	font-weight:normal;
	position: relative;
	left: 873px;
	bottom: 250px;
    text-decoration: none;
    background-color: #D59C00;
	color:#FFF;
    padding: 4px 4px 4px 4px;
	border-radius: 3px;
	z-index:1;
}
.tabs{
	
clear:left;
}
#tabs p{
	padding-bottom: 20px;
	font-size: 14px;
	width:867px;
}
#propForm{
	background-image: url("../img/formSubmit.png");
	background-repeat: no-repeat;
	float:right;
	position:relative;
	bottom: 530px;
	right:30px;
	width: 442px;
	height: 484px;
	opacity: .9;
	border-radius: 3px;
	margin-top: -13px;	
}
#propForm fieldset{
	width: 370px;
	padding-top:84px;	
}
#propForm label{
	font-size: 14px;
}
#propForm input[type=text]{
	width:207px;
	height: 34px;
	border-radius: 3px;
	margin-top:5px;
}
label[for=anonymous]{
	position:relative;
	right: -40px;
	bottom: 29px;
}
#radio{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 16px;
	width: 134px;
	position: relative;
	left: 234px;
	bottom: 20px;
	height: 8px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;	
	border-radius: 3px;

}
#radio:clicked{
	
	
}
#radioTwo{
	width: 374px;
	padding-left: 5px;
	padding-top: 5px;
	font-family:"Myriad Pro", Times, sans-serif; 
	border-radius: 3px;
	margin-bottom: 30px;	
}
#radioTwo input[type=radio]{
	margin-right: 6px;	
}
#radioTwo p{
	width: 10px;
	float:right;	
}
#howmany{
	color:#FFF;	
}
select{
	width: 381px;
	height:24px;
	margin-bottom: 20px;
	margin-top: 5px;
}
textarea{
	background-image: url("../img/textArea.png");
	background-repeat: no-repeat;
	background-position: 39% 18%;
	width: 374px;
	height: 96px;
	border-radius: 3px;	
	border: none;
	text-align: 10px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 13px;
	color: #FFF;
	margin-top: 5px;
	resize: none;
}
#submitTwo{
	margin-top:10px;
	margin-left: 283px;	
	background-color: #D59C00;
	border: none;
	color: #FFF;
	border-radius: 5px;
	width: 100px;
	height: 25px;
}
#formpara{
	width: 450px;	
}
footer{
	position: relative;
	margin-top: 0px; 
	height: 100px;
	clear:both; 
	background-color:#2C2C2C;
}

#footerAdmin{
	width: 100%;
	height: 100px;
	bottom: 0px;
	clear:both;
	background-color:#2C2C2C;
}

footer h1{
	margin: 0 auto;
	width: 300px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 14px;
	color:#FFF;
	padding-top:46px;
	padding-left: 150px;
}
#main{
	overflow:hidden;
	padding-bottom: 100px;
}

#mainTwo{
	height: 521px;
	margin-bottom: 100px;
	overflow: hidden;
}

#mainThree{
	height: 221px;
	margin-bottom: 100px;
	overflow: hidden;
}

#mainAdmin{
	overflow:hidden;
}

header{
	height: 160px;
	padding-top: 10px;
	margin-bottom: 20px;
}
#thankYou{
	position: relative;
	width: 420px;
	bottom: 480px;
	left: 540px;
	font-family:"Myriad Pro", Times, sans-serif; 
	color:#FFF;
	font-size:16px;
	font-weight:normal;
	z-index:1;
	line-height: 1.2em;
}
#signup{
	margin-top: 38px;
	margin-left: 8px;
}
#email, #staffName{
	background-image: url("../img/signInInput.png");
	background-repeat: no-repeat;
	background-position: 32% 19%;
	font-family:"Myriad Pro", Times, sans-serif; 
	color:#9C9C98;
	font-size: 14px;
	height:35px;
	width: 223px;
	border:none;
	border-radius: 5px;
	text-indent:36px;
}

#password{
	background-image: url("../img/signInInput.png");
	background-repeat: no-repeat;
	background-position: 37% 88%;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 14px;
	color: #9C9C98;
	height:35px;
	border:none;
	height:35px;
	width: 223px;
	border-radius: 5px;
	text-indent:36px;

}
#loginSubmit{
	width: 225px;
	height: 30px;
	background-color:#D59C00;
	border-radius: 5px;
	margin-top:20px;
	border:1px solid black;
	color: #FFF;
}
#no{
	position:relative;
	left: 90px;
	bottom: 70px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 13px;
	color: #9C9C98;
	width:10px;
}
#yes{
	position:relative;
	bottom:30px;
	left: 12px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 13px;
	color: #9C9C98;
	width:10px;
}
#anonymous{
	position: relative;
	left: 35px;
	bottom: 14px;
}
#anonymousTwo{
	position: relative;
	left: 110px;
	bottom: 55px;
}
label[for=r]{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 13px;
	color: #9C9C98;
}
#headLog{
	width: 130px;
	height: 40px;
	background-color:#333333;
	border-radius: 5px;
	position:relative;
	bottom: 280px;	
	left: 800px;
}
#loginSubmit:hover{
	background-color: #f2b818;	
}
#loginSubmit:active{
	color:#9C9C98;
}
#submitProp:hover{
	background-color: #f2b818;	
}
#submitProp:active{
	color:#9C9C98;
}
#logout:hover{
	background-color: #f2b818;	
}
#logout:active{
	color:#9C9C98;
}
#submitTwo:hover{
	background-color: #f2b818;	
}
#submitTwo:active{
	color:#9C9C98;
}

#adminEdit{
	background-image: url("../img/adminEdit.png");
	background-repeat: no-repeat;
	width: 940px;
	height:160px;
	margin-left: -7px;
	margin-bottom: 0px;
	opacity: .9;
}

#adminEdit:last-child{
	margin-bottom: 150px;
}

#formpara p:last-child{
	margin-bottom:73px;
}
#adminEdit ul{
	width: 940px;
	height: 60px;
}
#adminEdit ul li{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 16px;
	color: #FFF;
	float:left;
	margin-left: 117px;
	list-style:none;
	position:relative;
	right: 115px;
	top: 15px;
}
#adminEdit ul li:last-child{
	left: 0px;
	margin-bottom: 0px;
	/*top: -20px;*/
}
#from{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 14px;
	color: #FFF;
	width: 130px;
	margin-left: 22px;
}
#to{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 14px;
	color: #FFF;
	position: relative;
	left: 21px;
	bottom: 12px;
}
#propsTo{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 12px;
	color: #FFF;
	width: 140px;
	position: relative;
	left: 21px;
	bottom: 24px;
}
#propsFrom{
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 12px;
	color: #FFF;
	width: 140px;
	position: relative;
	left: 21px;
	bottom: 12px;
}
#amount{
	position: relative;
	left: 200px;
	bottom: 119px;
	width: 60px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 12px;
	color: #FFF;
}
#given{
	position: relative;
	left: 348px;
	bottom: 150px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 12px;
	color: #FFF;
	width: 260px;
	height:80px;
}
#why{
	width: 280px;
	line-height: 18px;	
	position: relative;
	left: 644px;
	bottom: 222px;
	font-family:"Myriad Pro", Times, sans-serif; 
	font-size: 12px;
	color: #FFF;
	height: 90px;
}
#editForm{
	background-image: url("../img/edit.png");
	background-repeat: no-repeat;
	width:32px;
	height: 32px;
	display:block;
	position: relative;
	bottom: 366px;
	left:854px;
}
#deleteForm{
	background-image: url("../img/deleteButton.png");
	background-repeat: no-repeat;
	width:32px;
	height: 32px;
	display:block;
	position: relative;
	bottom: 369px;
	left:890px;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}
span.error.error-keyup-1{
	font-family:"Myriad Pro", Times, sans-serif;
	font-size: 12px; 
	color:#F00;	
}
.styled-select select {
   background: transparent;
   width: 380px;
   padding: 5px;
   font-size: 11px;
   height: 21px;
   -webkit-appearance: none;
   border:none;
   margin-top: -3px;
   }
   
.styled-select {
   width: 375px;
   height: 18px;
   overflow: hidden;
   background: url('../img/new_arrow.jpg') no-repeat right #ddd;
   border: 1px solid #ccc;
   border-radius: 3px;
   margin-top: 5px;
   margin-bottom: 20px;
   }
  .player{
		float:left; 
		width: 562px; 
		height: 350px;
  }
.clear{
	clear: both;	
}

@-moz-document url-prefix() {
	 #welcome{
		 margin-top: 0;
	}
	#main{
	margin-bottom: 0;
	}
	#propForm{
	margin-top: 14px;
	padding-bottom: 50px;
	bottom: 530px;
	}
	#thankYou{
	position: relative;
	width: 420px;
	bottom: 455px;
	left: 540px;
	font-family:"Myriad Pro", Times, sans-serif; 
	color:#FFF;
	font-size:16px;
	font-weight:normal;
	z-index:1;
	line-height: 1.2em;
	}
	.styled-select select{
	height: 26px;
	}
	#radioTwo input[type="radio"]{
	margin-right: 5px;
	}
	.player{
		margin-bottom: 30px;
	}
}